html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #fffafa;
}
h2,
h4 {
  margin: 0;
  text-transform: uppercase;
}
.main-div {
  width: 300px;
  text-align: center;
  padding: 15px 0 15px 0;
  background-color: #221c6d;
}
.icons {
  padding-top: 4px;
  margin: 0;
}
.addItems {
  position: relative;
  text-align: center;
  margin-right: 15px;
}
.add {
  position: absolute;
  top: 4px;
  font-size: 25px;
}
input {
  width: 70%;
  border-radius: 15px;
  padding: 6px;
  font-size: medium;
}
.tasks {
  background-color: #6860a4;
  border-radius: 15px;
  margin: 0px 8px 7px 8px;
  padding: 4px;
  position: relative;
}
.deleteiocns {
  position: absolute;
  top: 6px;
}
.RemoveAll button {
  margin-top: 9px;
  text-transform: uppercase;
  /* border-radius: 15px; */
  padding: 5px;
  background-color: rgb(255, 66, 66);
  color: #fffafa;
}
